# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Dependencias
/node_modules

# Archivos de compilación
/build
/dist
*.o
*.a
*.so

# Archivos secretos y de configuración
.env
*.key
*.pem
*.bak
*.old

# Archivos de log y datos temporales
*.log
tmp/
temp/

# Archivos generados automáticamente
*.class
*.pyc
*.exe
*.dll

# Archivos específicos de IDE
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
