/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  @apply max-w-md mx-auto my-12 p-6 border border-gray-300 rounded-lg bg-gray-50;
}

.error {
  @apply text-red-500 mb-2;
}

.swal2-popup-custom {
  width: 300px !important;
  padding: 20px !important;
  font-size: 14px !important;
}

.swal2-title {
  font-size: 18px !important;
}

.swal2-content {
  font-size: 16px !important;
}

.swal2-actions {
  font-size: 14px !important;
}

/* Estilos para react-datepicker */
.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
  background-color: #B20027 !important;
  color: white !important;
}

.react-datepicker {
  @apply bg-white border border-gray-300 rounded-lg;
}

.react-datepicker__header {
  @apply bg-gray-100 border-b border-gray-300;
}

.react-datepicker__current-month {
  @apply text-gray-700;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  @apply text-gray-700;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
  background-color: #B20027 !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: #B20027 !important;
  color: white !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white !important;
}

.react-datepicker__day-name {
  color: white !important;
}
.bg-custom-red {
  background-color: #B20027;
}

.bg-custom-red-dark {
  background-color: #8B0020;
  /* Un tono más oscuro para el hover */
}

