/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  @apply max-w-md mx-auto my-12 p-6 border border-gray-300 rounded-lg bg-gray-50;
}

.error {
  @apply text-red-500 mb-2;
}

.swal2-popup-custom {
  width: 300px !important;
  /* Ajusta este valor según lo que necesites */
  padding: 20px !important;
  /* Ajusta este valor según lo que necesites */
  font-size: 14px !important;
  /* Ajusta este valor según lo que necesites */
}

.swal2-title {
  font-size: 18px !important;
  /* Ajusta este valor según lo que necesites */
}

.swal2-content {
  font-size: 16px !important;
  /* Ajusta este valor según lo que necesites */
}

.swal2-actions {
  font-size: 14px !important;
  /* Ajusta este valor según lo que necesites */
}